#canvas {  
  border: 0;
  margin: 0;
  overflow: hidden;  
  top: 50%;
  left: 50%;
  position: absolute;  
}

.canvas {  
  transform: translate(-50%, -50%);
  width: 96vw !important;
  height: 96vh !important;
}

.canvas-flipped {  
  transform: translate(-50%, -50%) rotate(180deg);
  width: 96vw !important;
  height: 96vh !important;
}

.canvas-rotated {  
  transform: translate(-50%, -50%) rotate(270deg);
  width: 96vh !important;
  height: 96vw !important;
}

.canvas-rotated-flipped {  
  transform: translate(-50%, -50%) rotate(90deg);
  width: 96vh !important;
  height: 96vw !important;
}
