#canvas {  
  border: 0;
  margin: 0;
  overflow: hidden;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;  
  width: 96vw !important;
  height: 96vh !important;
  max-width: calc(96vh*1.333) !important;
  max-height: calc(96vw*.75) !important;  
  // border: 1px solid red;
}
